{% extends 'shared/base.html' %}

{% block title %}
    Offer Details
{% endblock %}

{% block page_title %}
    Details
{% endblock %}

{% block content %}
    <div class="offer-details-container">
        <h2>{{ offer.title }}</h2>
        <img src="{{ offer.image.url }}"
             alt="offer-image">
        <div class="location">
            <p>City: {{ offer.city }}</p>
        </div>
        <div class="owner">
            <p>Owner: Pesho</p>
        </div>
        <div>
            {% if not offer.available %}
                <div class="not-available">
                    <p>NOT AVAILABLE!</p>
                    <span>&#128308;</span>
                </div>
            {% else %}
                <div class="available">
                    <p>AVAILABLE FOR RENT!</p>
                    <div class="contacts">
                        <h5>CONTACTS</h5>
                        <p class="email">Email: pesho@peshov.com</p>
                        <p class="telephone">Telephone: 0868686868</p>
                    </div>
                    <div class="price">
                        {% if offer.price %}
                            <p>PRICE: {{ offer.price }}$</p>
                        {% else %}
                            <p>PRICE: Negotiable</p>
                        {% endif %}
                    </div>
                    <span>&#128994;</span>
                </div>
            {% endif %}
        </div>
        <div class="description">
            <p>{{ offer.description }}</p>
        </div>
    </div>
{% endblock %}