{% extends 'shared/base.html' %}

{% block title %}
    Offer Details
{% endblock %}

{% block page_title %}
    Details
{% endblock %}

{% block content %}
    <div class="offer-details-container">
        <h2>{{ offer.title }}</h2>
        <img src="{{ offer.image.url }}"
             alt="offer-image">
        <div class="location">
            <p>City: {{ offer.city }}</p>
        </div>
        <div class="owner">
            <p>Owner: {{ owner.first_name }} {{ owner.last_name }}</p>
        </div>
        <div>
            {% if not offer.available %}
                <div class="not-available">
                    <p>NOT AVAILABLE!</p>
                    <span>&#128308;</span>
                </div>
            {% else %}
                <div class="available">
                    <p>AVAILABLE FOR RENT!</p>
                    <div class="contacts">
                        <h5>CONTACTS</h5>
                        <p class="email">Email: {{ owner_email }}</p>
                        <p class="telephone">Telephone: {{ owner.phone_number }}</p>
                    </div>
                    <div class="price">
                        {% if offer.price %}
                            <p>PRICE: {{ offer.price }}$</p>
                        {% else %}
                            <p>PRICE: Negotiable</p>
                        {% endif %}
                    </div>
                    <span>&#128994;</span>
                </div>
            {% endif %}
        </div>
        <div class="rating">
            <a href="{% url 'rate offer' offer.id %}">
                {% if not is_rated %}
                    <i class="far fa-star"></i></a>
                {% else %}
                    <i class="fas fa-star"></i></a>
                {% endif %}
            <p class="mt-2">Stars: {{ offer.stars_count }}</p>
        </div>
        <div class="description">
            <p>{{ offer.description }}</p>
        </div>
{#        <form action="{% url 'rent offer' offer.id %}">#}
{#            {% csrf_token %}#}
{#            {{ form }}#}
{#            <button class="rent-button" type="submit">RENT</button>#}
{#        </form>#}
        <div class="comment-section">
            {% if request.user.is_authenticated %}
                <div class="box">
                    <form method="post" action="{% url 'comment offer' offer.id %}">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button class="comment-button" type="submit">Add comment</button>
                    </form>
                </div>
            {% endif %}
            {% if comments %}
                {% for comment in comments %}
                    <div class="box">
                        <h5><u>{{ comment.user }}</u><em>: {{ comment.text }}</em></h5>
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <div class="box">
                    <h3>There are no comments for this offer.</h3>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}