{% extends 'shared/base.html' %}
{% load static %}

{% block title %}
    Profile Page
{% endblock %}

{% block page_title %}
    Profile
{% endblock %}

{% block content %}
    <div class="profile-container">
        {% if request.user.profile.first_name and request.user.profile.last_name %}
            <h2>{{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</h2>
        {% else %}
            <h2>No Profile Name</h2>
        {% endif %}
    {% if request.user.profile.profile_image %}
        <img src="{{ request.user.profile.profile_image.url }}" alt="profile-pic">
    {% else %}
        <img src="{% static 'images/profile_image.png' %}" alt="alt-profile-image">
    {% endif %}
        <div class="contacts">
            <div class="email">
                <p>Address: {{ request.user }}</p>
            </div>
            {% if request.user.profile.phone_number %}
                <div class="telephone">
                    <p>Telephone: {{ request.user.profile.phone_number }}</p>
                </div>
            {% else %}
                <div class="telephone">
                    <p>Telephone: No Phone Number</p>
                </div>
            {% endif %}
        </div>
        <div class="offers-count">
            <p>Offers Count: {{ my_offers_count }}</p>
        </div>
        <a class="btn-edit" href="{% url 'edit profile' %}">
            <button>Edit</button>
        </a>
        <a class="btn-delete" href="{% url 'delete profile' %}">
            <button>Delete</button>
        </a>
    </div>
{% endblock %}
