{% extends 'shared/base.html' %}

{% block title %}
    My Offers
{% endblock %}

{% block page_title %}
    My Offers
{% endblock %}

{% block content %}
    <div class="btn-create-offer">
        <a href="{% url 'create offer' %}">
            <button>Create New Offer</button>
        </a>
    </div>
    <div class="offer-container">
        <h2>My house</h2>
        <img src="https://images.adsttc.com/media/images/5ecd/d4ac/b357/65c6/7300/009d/large_jpg/02C.jpg?1590547607"
             alt="offer-image">
        <div class="location">
            <p>City: Los Angeles</p>
        </div>
        <a href="{% url 'my offer details page' %}" class="btn">Details</a>
        {% if not available %}
            <span>&#128308;</span>
        {% else %}
            <span>&#128994;</span>
        {% endif %}
    </div>
{% endblock %}